version: '3.8'

services:
  # MongoDB service
  mongodb:
    image: mongo:latest
    container_name: mongodb
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    networks:
      - claims-network

  # Backend API service
  api:
    build:
      context: .
      target: api
    container_name: api
    restart: always
    ports:
      - "3000:3000"
    environment:
      - MONGODB_URI=${MONGODB_URI}
      - PORT=${PORT}
      - API_PREFIX=${API_PREFIX}
    depends_on:
      - mongodb
    networks:
      - claims-network

  # Frontend Client service
  client:
    build:
      context: .
      target: client
    container_name: client
    restart: always
    ports:
      - "80:80"
    depends_on:
      - api
    networks:
      - claims-network

networks:
  claims-network:
    driver: bridge

volumes:
  mongodb_data:
